.container{
    width: 100vw;
    height: 100vh;
    position: absolute;
    right: 0;
    top: 0;
    backdrop-filter: blur(2px);
}

.bg{
    width: 100vw;
    height: 100vh;
    background-image: url("https://estaticos-cdn.prensaiberica.es/clip/df76e832-ae55-44f0-a198-286c756f4df4_16-9-discover-aspect-ratio_default_0.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    position: absolute;
    right: 0;
    top: 0;
}
.title{

    box-shadow: black 0px 6px 25px;
    font-size: 65px;
    padding: 0 20px;
    border-radius: 4px;
    width: 40vw;
    margin: 40vh auto 0 auto;
}