

.bg{
    width: 100vw;
    height: 100vh;
    background-image: url("../dog-wallpaper-hd-dog-wallpapers-1998667338.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    position: absolute;
    right: 0;
    top: 0;
}
.title{

    text-align: left;
    font-size: 45px;
    border-radius: 4px;
    width: 40vw;
    margin: 5vh 0 0 5vw;
    text-shadow: white 2px 2px 1px;
    
}
.titleBox{
    background-color: rgba(0, 0, 0, 0.123);
    backdrop-filter: blur(2px);
    clip-path: polygon(0 15%, 65% 15%, 100% 100%, 0% 100%);
}
.entry{
    width:30vw;
    height:600px;
    position: absolute; 
    left: 50vw;
    top:50vh
}
.button{
    position: relative;
    left:-600px;
}
