.aside{
    height: fit-content;
    width: fit-content;
    color: white;
    font-size: 20px;
}
.text{
    height: 35px;
    font-size: 20px;
    width: 40vw;
}
.checkbox{
    margin-top: 30px;
    margin-right: 40%;
    border-radius: 1em;
}
.checkbox:hover{
    cursor:pointer
}
.button{
    height: 3em;
    width: 15%;
    background-color: white;
    border-radius: 5px;
    border: solid black 1px;
    font-size: 20px;
}
.button:hover{
    cursor:pointer;
    background-color: gainsboro;
}